/*Globel通用設定*/

*{
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
}
h1,h2,p{
	margin: 0;
}
a{
	text-decoration: none;
}

.wrapper{
	height: 100%;
	background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 100%);;
    /*解決margin塌陷問題*/
    overflow: hidden;
}

.product{
	width: 800px;
	height: 540px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 128px;
	padding: 16px;
	box-shadow: 0 20px 80px rgba(0,0,0,0.5);

}

.info{
	display:inline-block;
	vertical-align: top;
	width: 50%;
	padding: 60px 56px;
}
.name{
	font-size: 100px;
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	color: #5E60CE;
	text-shadow: 0 25px 10px rgba(0, 0, 100, 0.2);

	position: relative;

	z-index: 10;
}
.price{
	font-size: 48px;
	color: brown;
	font-family: sans-serif;
	font-weight: 300;
	margin-bottom: 16px;
}
.text{
	color: darkblue;
	line-height: 24px;
	margin-bottom: 16px;
}
.btn{
	display: inline-block;
	width: 200px;
	background-color: orange;
	text-align: center;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
	font-size: 24px;
	color: #ffffff;
	font-family: sans-serif;
	letter-spacing: 8px;
	box-shadow: 0 8px 40px rgba(0,0,0,0.5);
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,125,255,1) 50%, rgba(9,9,121,1) 70%, rgba(2,0,36,1) 100%);

}
.btn:hover{
	background: red;
	border-radius: 20px;
	transform: scale(1.2);
	transition: .3s;

}
.image{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.image img{
	height: 100%;
}